* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}
.showcase {
    background-image: url("../image/work.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    color: white;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.showcase-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.showcase-content p {
    font-size: 2rem;
}

.boxes {
    background: #212529;
    color: #fff;
    padding: 20px 0;
}

.boxes .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.boxes .box {
    flex: 1;
    padding: 20px;
}

.boxes .box i {
    margin-bottom: 10px;
    color: #fff; 
}


.about {
    padding: 40px 0;
    background: #fff;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px; 
    max-width: 800px;
    margin: 0 auto;
}

.about-icon {
   
    color: #343a40; 
}

.about-text h3 {
    margin-bottom: 10px;
    
    font-size: 1rem;
}


footer {
    background: #343a40; 
    color: #fff;
    text-align: center;
    padding: 40px 0;
}